# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
pnpm-debug.log*

# ide
.idea
.idea/

# build * dist
dist
dist/

# setup
package-lock.json
yarn.lock

.vscode
package.lock
node_modules
node_modules/

result.info
deploy/*
deploy-latest/*
