@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  width: 360px;
  height: 540px;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;

  position: relative;
}

a {
  text-decoration: none;
}

#root {
  width: 100%;
  height: 100%;
  background-color: #212128;

  overflow: hidden;

  position: relative;
}

#root[aria-hidden="true"] .MuiOutlinedInput-root {
  border-color: #0059ff;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  transition: 0.2s;
}

main {
  width: 100%;
  height: 492px;
  padding: 0 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}
